<div id="<%= dom_id task %>", class="flex">
  <div class="flex ">
  <p>
    <strong>タイトル:</strong>
    <%= task.title %>
    <div class="ml-2">
    <% if task.done %>
      <div class="text-blue-700">
        完了
      </div>
    <% else %>
      <div class="text-pink-600">
        未完了
      </div>
    <% end %>
    </div>
  </p>
  </div>
  <%= button_to(
          task.done ? "未完了に戻す" : "完了にする",
          toggle_done_task_path(task),
          method: :patch,
          class: "ml-2 bg-green-500 text-white px-3 py-1 rounded"
        ) %>
</div>
