<div class="text-5xl">
  <h1>タスク管理アプリ</h1>
</div>

<div class="text-3xl mt-5 ">
  <h1>新規登録</h1>
</div>
<div class="mt-5">
  <div id="task_form">
    <%= render "form", task: Task.new %>
  </div>
</div>

<div class="mt-5 text-3xl">
  <h1>タスク一覧</h1>
</div>

<%= render partial: "counts", locals: { tasks: @tasks } %>

<h1><検索></h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
  <% end %>
</div>
